body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
  }
  
  .login-form {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-form .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .login-form h2 {
    font-family: "Crimson Text";
    font-weight: bold;
    color: #003366;
    margin-bottom: 20px;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-form .forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #00509e;
  }
  
  .login-image {
    flex: 1;
    background-color: #FFFFFF;
    display:grid;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  
  .login-image img {
    width: 100%;   /* Mengisi lebar kontainer */
    height: 100%;  /* Mengisi tinggi kontainer */
    object-fit: cover;
    border-radius: 0 4px 4px 0;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  