/* Navbar */
.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-family: "Crimson Text", serif;
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-admin-name {
  margin-right: 10px;
  color: #fff;
}

.navbar-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

